doctype html
html(lang='en')
  head
    | <link href="/public/style/index.css" rel="stylesheet" type="text/css">
    | <script src="/public/dist/js/jquery.js"></script>
    | <script src="/public/js/index.js"></script>
  body
    div.message.template
      span 
        div.msg_username test_username
        div.msg_time= new Date().toLocaleTimeString() + " =>"
      div.msg_text
    div#main
      h2 socket chat
      hr
      div#info
        label(for="username") Enter a username:
        input#username(type="text")
        div#filled_username
        button(onclick="saveUsername();") Save
      div#chat_container
        div#room_block
          div#chatrooms
            select(multiple=false, size=12)
          div#room_foot
            div
              div#add_remove
                button(onclick="addRoom();") +
                button(onclick="removeRoom();") -
              input#newRoomName(type="text", placeholder="new room name")
            button#joinRoom(onclick="joinRoom()", disabled="true") Join room
        div#message_block
          div#message_area
          div#message_input
            textarea
          div#message_foot
            button#sendMessage(disabled="true", onclick="sendToRoom();") Send message
            button#leaveRoom(disabled="true" onclick="sendLeaveRoom();") Leave room
            div#roomName Test